@model IEnumerable<HotelWebsite.Models.Room>

@{
    ViewData["Title"] = "Our Rooms";
}

<div class="container py-5">
    <h1 class="text-center mb-4">Our Rooms</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Type Room">
                    <div class="card-body">
                        <h5 class="card-title">@item.Type Room - @item.RoomNumber</h5>
                        <p class="card-text">@item.Description</p>
                        <ul class="list-group list-group-flush mb-3">
                            <li class="list-group-item">Capacity: @item.Capacity</li>
                            <li class="list-group-item">Price: $@item.Price per night</li>
                        </ul>
                        <a href="/Bookings/Create?roomId=@item.Id" class="btn btn-success">Book Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>